.job-listing-card {
  border-radius: 1.5em;
  padding: 2.25em 1.25em;
  margin-top: 3.25em;
  background: #272727;
}

@media screen and (min-width: 768px) {
  .job-listing-card {
    padding: 2.75em 2.25em;
  }
}

@media screen and (min-width: 1200px) {
  .job-listing-card {
    max-width: 47%;
    margin: 1em;
  }
}

.job-listing-header {
  display: flex;
  align-self: center;
}

.job-listing-image {
  width: 40px;
  height: 40px;
  border-radius: 1em;
}

@media screen and (min-width: 768px) {
  .job-listing-image {
    width: 52.5px;
    height: 52.5px;
  }
}

.job-listing-title-section {
  display: flex;
  flex-direction: column;
  margin-left: 0.75em;
}

@media screen and (min-width: 768px) {
  .job-listing-title-section {
    margin-left: 1.5em;
  }
}

.job-listing-title {
  margin: 0;
  margin-bottom: 0.25em;

  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .job-listing-title {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.job-listing-rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  margin-left: -0.13em;
  fill: #fdbb4d;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .rating-icon {
    font-size: 2.2rem;
  }
}

.rating-score {
  margin: 0;
  margin-top: 0.13em;
  margin-left: 0.25em;
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .rating-score {
    font-size: 1.8rem;
  }
}

.job-listing-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-info-wrapper {
  display: flex;
  align-items: center;
}

.tag-item {
  display: flex;
  align-items: center;
}

.tag-icon {
  margin-right: 0.3em;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .tag-icon {
    font-size: 2rem;
  }
}

.tag-text {
  margin-right: 1.25em;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .tag-text {
    margin-right: 1.75em;
  }
}

.job-listing-salary {
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .job-listing-salary {
    font-size: 1.8rem;
  }
}

.job-listing-divider {
  border: 1px solid #64748a;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  .job-listing-divider {
    margin-top: 0;
    margin-bottom: 1.75em;
  }
}

.job-description-section {
}

.job-description-title {
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .job-description-title {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

.job-description-text {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: calc(1.2rem * 1.6);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .job-description-text {
    margin-top: 0.75em;
    font-size: 1.4rem;
    line-height: calc(1.4rem * 1.8);
  }
}
